#btn:hover{
    background-color: skyblue;
    color: white;
    border: 2px solid white;
}

#input{
    border: 2px solid white;
   
    opacity: 80%;
}

.search{
    position: relative;
}
.location{
    position: absolute;  
    right: 80px;
}
.location:hover{
    position: absolute;
    color: red;
    right: 80px;
}


body{
    font-family: sans-serif;
}